<body>
    <script>
        function sctLogout() {
            //función para controlar que no se llame a la redirección en local
            console.info('[SSO] Develop mode');
        }
    </script>
</body>